In [2]:
import pandas as pd

In [3]:
booking = pd.read_csv("Booking.csv")

C:\Users\Sourav Ray\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
booking.head()

,Unnamed: 0,spn,bookingid,bodybookingdt,caseid,casefilingdt,dispositiondt,dispositiontype,bodyreleasedt,bkgyr
0,1,252929.0,003900704|00252929,2015-12-31,206614101010002,2015-12-31,2016-01-04,Conviction,2016-01-04,2015
1,2,310898.0,003900741|00310898,2015-12-31,149344001010003,2015-12-30,2016-03-01,Conviction,2016-04-26,2015
2,3,480754.0,003900651|00480754,2015-12-31,124741301010003,2010-01-09,2016-05-26,Conviction,2016-06-21,2015
3,4,683245.0,003900737|00683245,2015-12-31,145586001010003,2015-01-27,2017-05-08,DISP DADJ,2015-12-31,2015
4,5,693184.0,003900879|00693184,2015-12-31,206613401010002,2015-12-30,NaN,NaN,2016-01-06,2015

In [5]:
booking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 665892 entries, 0 to 665891
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       665892 non-null  int64
 1   spn              665891 non-null  float64
 2   bookingid        665891 non-null  object
 3   bodybookingdt    665891 non-null  object
 4   caseid           665891 non-null  object
 5   casefilingdt     665891 non-null  object
 6   dispositiondt    550793 non-null  object
 7   dispositiontype  550793 non-null  object
 8   bodyreleasedt    647010 non-null  object
 9   bkgyr            665892 non-null  int64
dtypes: float64(1), int64(2), object(7)
memory usage: 50.8+ MB

In [6]:
booking.shape

(665892, 10)

In [7]:
booking.drop("Unnamed: 0", axis = 1, inplace = True)

In [9]:
date_cols = [col for col in booking.columns if 'dt' in col]
print(date_cols)

['bodybookingdt', 'casefilingdt', 'dispositiondt', 'bodyreleasedt']